/* roboto-regular*/
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/roboto.woff2") format("woff2"), url("../fonts/roboto.woff") format("woff");
}

/* roboto-medium */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/robotomedium.woff2") format("woff2"), url("../fonts/robotomedium.woff") format("woff");
}

/* roboto-bold */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/robotobold.woff2") format("woff2"), url("../fonts/robotobold.woff") format("woff");
}

/* common style */
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-size: 16px;
  line-height: 24px;
  font-family: "Roboto", "Arial", sans-serif;
  color: #000000;
  background-color: #ffffff;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
  padding: 0;
  border: 0;
  white-space: nowrap;
}

.header {
  background-color: #eeeeee;
}

.header__nav,
.header__slider {
  width: 1200px;
  margin: 0 auto;
}

.header__header {
  margin: 0;
  padding: 72px 0 108px;
  text-align: center;
  font-size: 55px;
  font-weight: 500;
  line-height: 55px;
  color: #000000;
}

.nav-header {
  padding: 49px 20px 0 20px;
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
}

.nav-header__list {
  flex-grow: 1;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  align-self: center;
  justify-content: flex-start;
  margin: 0;
  margin-left: 140px;
  margin-right: 100px;
}

.nav-header__item {
  margin-top: 10px;
  margin-left: 23px;
  margin-right: 23px;
}

.nav-header__link {
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  line-height: 30px;
  color: #000000;
  text-decoration: none;
  color: #000000;
}

.nav-header__link:hover {
  color: #fb565a;
}

.nav-header__link:active {
  color: rgba(0, 0, 0, 0.3);
}

.nav-header__link:active {
  padding-bottom: 10px;
  border-bottom: 2px solid #fb565a;
}

.nav-header__link--current {
  padding-bottom: 10px;
  border-bottom: 2px solid #fb565a;
}

.nav-header__basket {
  position: relative;
  align-self: center;
  padding-top: 10px;
  font-size: 16px;
  font-weight: 500;
  line-height: 30px;
  color: #000000;
  text-decoration: none;
  color: #000000;
}

.nav-header__basket:hover {
  color: #fb565a;
}

.nav-header__basket:active {
  color: rgba(0, 0, 0, 0.3);
}

.nav-header__basket:active {
  padding-bottom: 10px;
  border-bottom: 2px solid #fb565a;
}

.nav-header__basket--current {
  padding-bottom: 10px;
  border-bottom: 2px solid #fb565a;
}

.nav-header__basket::before {
  position: absolute;
  display: block;
  content: "";
  width: 15px;
  height: 15px;
  left: -40px;
  top: 17px;
  background-image: url(../img/svg/basket-icon.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.slider-header {
  position: relative;
  padding: 0 20px;
}

.slider-header__controls {
  position: absolute;
  left: 50%;
  bottom: 104px;
  z-index: 100;
  width: 160px;
  height: 18px;
  text-align: center;
  font-size: 0;
  transform: translateX(-50%);
}

.slider-header__toggle {
  box-sizing: content-box;
  position: relative;
  display: inline-block;
  width: 18px;
  height: 18px;
  padding: 8px;
  border-radius: 50%;
  cursor: pointer;
}

.slider-header__toggle::after {
  content: "";
  position: absolute;
  top: 8px;
  left: 8px;
  z-index: 1;
  width: 18px;
  height: 18px;
  background: #ffffff;
  border-radius: 50%;
}

.slider-header__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.slider-header__item {
  display: none;
  padding: 70px 0 80px 0;
}

.slider-header__item--one {
  background-image: url("../img/slide-picture-1.png");
  background-repeat: no-repeat;
  background-position: 93% 10px;
}

.slider-header__item--two {
  background-image: url("../img/slide-picture-2.png");
  background-repeat: no-repeat;
  background-position: 100% 0;
}

.slider-header__item--three {
  background-image: url("../img/slide-picture-3.png");
  background-repeat: no-repeat;
  background-position: 100% 20px;
}

.slider-header__radio--one:checked ~ .slider-header__list .slider-header__item--one {
  display: block;
}

.slider-header__radio--two:checked ~ .slider-header__list .slider-header__item--two {
  display: block;
}

.slider-header__radio--three:checked ~ .slider-header__list .slider-header__item--three {
  display: block;
}

.slider-header__radio--one:checked ~ .slider-header__controls .slider-header__toggle--one::before,
.slider-header__radio--two:checked ~ .slider-header__controls .slider-header__toggle--two::before,
.slider-header__radio--three:checked ~ .slider-header__controls .slider-header__toggle--three::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 2;
  width: 4px;
  height: 4px;
  margin: -4px;
  background-color: inherit;
  border: 2px solid #c1c1c1;
  border-radius: 50%;
}

.slider-header__subheader {
  max-width: 600px;
  margin: 0;
  margin-bottom: 28px;
  font-size: 55px;
  font-weight: 500;
  line-height: 55px;
  color: #000000;
}

.slider-header__text {
  max-width: 430px;
  margin: 0;
  margin-bottom: 38px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #283136;
}

.slider-header__link {
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  color: #ffffff;
  display: inline-block;
  cursor: pointer;
  padding: 16px 55px;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  border-radius: 3px;
  border: none;
  background-color: #fb565a;
}

.slider-header__link:hover {
  background-color: #e74246;
}

.slider-header__link:active {
  background-color: #d7373b;
  color: rgba(255, 255, 255, 0.3);
  box-shadow: insdet 0 3px 0 0 rgba(0, 1, 1, 0.1);
}

.main {
  background-color: #ffffff;
}

.main__do-this,
.main__about,
.main__partners {
  width: 1200px;
  margin: 0 auto;
}

.do-this {
  padding: 80px 20px 0 20px;
}

.do-this__list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
  padding-bottom: 80px;
  border-bottom: 2px solid #efefef;
}

.do-this__item {
  width: 300px;
}

.do-this__item:nth-child(3n+2) {
  margin: 0 100px;
}

.do-this__item--web {
  background: url("../img/advantage-picture-red.png"), linear-gradient(to bottom, #fb565a 146px, #ffffff 146px 100%);
  background-size: auto 146px;
  background-repeat: no-repeat;
}

.do-this__item--app {
  background: url("../img/advantage-picture-green.png"), linear-gradient(to bottom, #00ca74 146px, #ffffff 146px 100%);
  background-size: auto 146px;
  background-repeat: no-repeat;
}

.do-this__item--present {
  background: url("../img/advantage-picture-yellow.png"), linear-gradient(to bottom, #efc84a 146px, #ffffff 146px 100%);
  background-size: auto 146px;
  background-repeat: no-repeat;
}

.do-this__subheader {
  margin: 171px 0 17px;
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  color: #000000;
  text-transform: uppercase;
}

.do-this__text {
  margin: 0;
  margin-bottom: 31px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #283136;
}

.do-this__link {
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  color: #ffffff;
  display: inline-block;
  cursor: pointer;
  padding: 16px 40px;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  border-radius: 3px;
  border: none;
}

.do-this__link--web {
  background-color: #fb565a;
}

.do-this__link--web:hover {
  background-color: #e74246;
}

.do-this__link--web:active {
  background-color: #d7373b;
  color: rgba(255, 255, 255, 0.3);
  box-shadow: insdet 0 3px 0 0 rgba(0, 1, 1, 0.1);
}

.do-this__link--app {
  background-color: #00ca74;
}

.do-this__link--app:hover {
  background-color: #00bc6c;
}

.do-this__link--app:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #00aa62;
  box-shadow: insdet 0 3px 0 0 rgba(0, 1, 1, 0.1);
}

.do-this__link--present {
  background-color: #efc84a;
}

.do-this__link--present:hover {
  background-color: #eab534;
}

.do-this__link--present:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #e5a722;
  box-shadow: insdet 0 3px 0 0 rgba(0, 1, 1, 0.1);
}

.about {
  padding: 40px 20px 0 20px;
}

.about__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-bottom: 49px;
  border-bottom: 2px solid #efefef;
}

.about__left {
  width: 650px;
}

.about__header {
  margin: 34px 0 34px;
  font-size: 45px;
  font-weight: 500;
  line-height: 45px;
  color: #000000;
}

.about__text {
  margin: 0 0 38px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #283136;
}

.about__subheader {
  margin: 0 0 24px;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  color: #000000;
}

.about__list {
  list-style: none;
  margin: 0;
  padding: 0 0 0 36px;
}

.about__item {
  position: relative;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #283136;
  margin-bottom: 24px;
}

.about__item::before {
  position: absolute;
  display: block;
  content: "";
  width: 25px;
  height: 2px;
  background-color: #fb565a;
  left: -35px;
  top: 11px;
}

.about__right {
  width: 360px;
}

.about__logo {
  margin-bottom: 30px;
}

.about__table {
  margin: 0 auto;
}

.table-about__header {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  color: #000000;
}

.table-about__column--percent {
  padding-top: 55px;
  font-size: 45px;
  font-weight: 700;
  line-height: 10px;
  color: #000000;
}

.table-about__column--text {
  padding-top: 35px;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  color: #283136;
}
/*# sourceMappingURL=main.css.map */